.container {
  width: 100%;
  height: 4px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.bar {
  height: 100%;
  background-color: var(--accent-color);
  transform-origin: left;
  will-change: transform;
}
