.container {
  width: 100vw;
  height: var(--progress-bar-height);
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.container.active {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
}

.bar {
  height: 100%;
  background-color: var(--accent-color);
  transform-origin: left;
  will-change: transform;
}
